@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  transition: all 0.2s linear;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
body.dark {
  background: #303841;
  color: white;
}
body.dark nav {
  background: #eeeeee;
}
body.dark .postHeading {
  color: rgb(150, 150, 150);
}
body.dark .editProfileButton {
  background: #00adb5;
}
body.dark .editProfileButton:hover {
  background: none;
  color: white;
  border: 1px solid #00adb5;
  transition: background 0.2s linear;
}
nav {
  height: 10vh;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5%;
  border-bottom: 1px solid rgba(180, 180, 180, 1);
  transition: background 0.2s linear;
  transition: all 0.5s linear;
}
.leftTopBar {
  height: 100%;
  width: 20%;
  margin-right: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftTopBar > img {
  height: 130%;
}

/* .searchDiv {
  border: 1px solid black;
  padding: 2%;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.searchDiv > input {
  background: transparent;
  border: none;
  width: 70%;
  font-size: 1.5rem;
}
.searchDiv > input:focus {
  outline: none;
  border: none;
}
.searchDiv > img {
  height: 2rem;
} */
.label {
  height: 27px;
  width: 60px;
  border-radius: 50px;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-moon {
  color: #f1c40f;
  font-size: 1.5rem;
}
.fa-sun {
  color: #f39c12;
  font-size: 1.5rem;
}
.toggle {
  background: white;
  height: 24px;
  width: 24px;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
.checkbox {
  display: none;
}
.checkbox:checked + .label .toggle {
  transform: translateX(32px);
}
.rightTopBar > img {
  height: 40%;
}
.rightTopBar {
  /* background : grey; */
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profileImageTopBarContainer {
  /* background : black; */
  border: 1px solid black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border-radius: 50%;
  /* padding: 0.3%; */
}
.profileImageTopBarContainer > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.superContainer {
  height: 100rem;
  margin-top: 8%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.homeButton {
  cursor: pointer;
}
.mainContainer {
  height: 90%;
  width: 55%;
  opacity: 0;
}
.mainContainer.visible{
  opacity: 1;
}
.topContainer {
  height: 40%;
  display: flex;
  /* background : rgba(255, 0, 0,0.2); */
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.topLeft {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bigProfileImage {
  height: 15rem;
  width: 15rem;
  padding: 2%;
}
.bigProfileImage > img {
  height: 100%;
  width: 100%;
}
.topRight {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 50%;
  justify-content: flex-start;
  font-size: 1.5rem;
}
.editProfileButton,
.name,
.yourBio {
  margin-top: 10%;
}
.editProfileButton {
  padding: 2%;
  width: 35%;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  background-color: rgba(41, 120, 181, 0.7);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  transition: all 0.2s linear;
  opacity: 0;
}
.buttonContainer {
  display: flex;
  align-items: center;
  /* background : red; */
  width: 90%;
  margin-top: 10%;
  margin-left: 9%;
  justify-content: space-around;
}
/* .editProfileButton > a{
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  background-color: red;
} */
.editProfileButton.visible {
  opacity: 1;
}
.editProfileButton:hover {
  background-color: transparent;
  border: 1px solid rgba(41, 120, 181, 1);
  color: black;
}
.username {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 700;
}
.name {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.yourBio {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  width: 100%;
}
.bottomContainer {
  /* background-color: rgba(255, 0, 0,0.2); */
  height: 50%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
}
.postHeading {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  color: rgba(128, 128, 128, 1);
  transition: all 0.2s linear;
}

.displayPostGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: max-content;
  margin-top: 3%;
  justify-items: center;
  gap: 30px 30px;
}
.post {
  height: 30rem;
  width: 100%;
  padding: 2%;
}
.post > img {
  width: 100%;
  height: 100%;
}
.post:hover {
  cursor: pointer;
  background: grey;
}
.EditPostPopupContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(148, 148, 148, 0.5);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.EditPostPopupContainer.visible {
  opacity: 1;
  pointer-events: all;
}
.popUpMainContainer {
  background: white;
  width: 50%;
  height: 60rem;
  display: flex;
  padding: 1.5%;
}
.popUpleft {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
}
.popUpleft > img {
  width: 100%;
  height: 100%;
}
.lineSeperation {
  height: 100%;
  background: rgba(128, 128, 128, 0.4);
  width: 1px;
}
.fa-times {
  font-size: 5rem;
  position: absolute;
  top: 3%;
  right: 3%;
  color: white;
  cursor: pointer;
}
.popUpRight {
  /* background  :rgba(255, 0, 0,0.3); */
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.navPopUpRight {
  display: flex;
  margin-left: 3%;
  align-items: center;
  margin-top: 3%;
  width: 90%;
  /* background-color: blue; */
  justify-content: space-around;
}

.popUpProfileImage {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 2.5rem;
}
.usernamePopUpRight {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Merriweather", serif;
  margin: 1rem;
  width: 70%;
  /* background  :red; */
}
.lineSeperation2 {
  width: 100%;
  height: 1px;
  background: rgba(128, 128, 128, 0.4);
  margin-top: 5%;
}
.mainPopUpRight {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  height: 70%;
  /* overflow: scroll; */
}
.caption {
  font-family: "Montserrat", sans-serif;
  margin-left: 5%;
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  background: transparent;
  font-size: 1.5rem;
  overflow: scroll;
  height: 100%;
}
.caption:focus {
  outline: none;
  border: 1px solid black;
}
.caption::-webkit-scrollbar {
  display: none;
}
.saveChangesButton {
  width: 40%;
  padding: 2.5%;
  border-radius: 14px;
  background: rgba(4, 142, 188, 0.5);
  border: 1px solid white;
  cursor: pointer;
  /* align-self: flex-end; */
  color: white;
  transition: all 0.2s linear;
  font-size: 1.3rem;
}
.saveChangesButton:hover {
  background: transparent;
  border: 1px solid rgba(4, 142, 188, 0.8);
  color: black;
}
