@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 120vh;
  overflow: scroll;
  background: rgba(229, 229, 229, 1);
  transition: background 0.2s linear;
  transition: opacity 1s ease-in;
  opacity: 0;
  overflow-x: hidden;
}
body.dark {
  background: #303841;
  transition: background 0.2s linear;
}

.visible {
  opacity: 1;
}
body.dark .dropDownContainer {
  background: #303841;
  color: white;
  border: 1px solid grey;
}
body.dark .HamburgerMenuLinks {
  background: #00adb5;
}
body.dark .sub {
  color: white;
}
body.dark .arrow {
  background: #303841;
}
body.dark .sub:hover {
  background: #00adb5;
}
body.dark .DisplayPost {
  background: #393e46;
  color: white;
  border: 1px solid grey;
}
body.dark .displayPostName {
  color: white;
}
body.dark .MakeAPost {
  background: #393e46;
  color: white;
  border: 1px solid grey;
}
body.dark .right {
  background: #393e46;
  color: white;
  border: 1px solid grey;
}
body.dark .startPostButton {
  background: #00adb5;
}
body.dark .startPostButton:hover {
  background: none;
  color: white;
  border: 1px solid #00adb5;
  transition: background 0.2s linear;
}
body.dark .makePostProfileImage {
  border: 1px solid white;
}
body.dark nav {
  background: #eeeeee;
}
body.dark .room1 {
  border: 1px solid #ff6c00;
}
body.dark .fa-rocket {
  color: #ff6c00;
}
body.dark .enterRoom1 {
  background: #ff6c00;
}
body.dark .enterRoom1:hover {
  color: white;
  border: 1px solid #ff6c00;
  background: transparent;
}
body.dark .fa-comments {
  color: #00adb5;
}
body.dark .room2 {
  border: 1px solid #00adb5;
}
body.dark .enterRoom2 {
  background: #00adb5;
}
body.dark .enterRoom2:hover {
  color: white;
  border: 1px solid #00adb5;
  background: transparent;
}
body.dark .enterRoom3 {
  background: #fc85ae;
}
body.dark .enterRoom3:hover {
  color: white;
  border: 1px solid #fc85ae;
  background: transparent;
}
body.dark .fa-briefcase {
  color: #fc85ae;
}
body.dark .room3 {
  border: 1px solid #fc85ae;
}
body.dark .feedback {
  background: #5432d3;
}
/* body.dark .popUpMakeAPostContainer{
  background: #303841;
  color: white;
  border: 1px solid grey;
}
body.dark .publish{
  background: #00adb5;
}
body.dark .publish:hover{
  background: none;
  color: white;
  border: 1px solid #00adb5;
  transition: background 0.2s linear;
}
body.dark .CaptionPopUp{
  color: white;
} */
nav {
  height: 10vh;
  z-index: 5;
  position: fixed;
  width: 100vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;
  border-bottom: 1px solid rgba(180, 180, 180, 1);
  transition: background 0.2s linear;
  transition: all 0.5s linear;
}
.leftTopBar {
  height: 100%;
  width: 30%;
  margin-left: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftTopBar > img {
  height: 150%;
}

.searchDiv {
  border: 1px solid black;
  padding: 2%;
  width: 200px;
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}
.searchDiv > input {
  background: transparent;
  border: none;
  width: 70%;
  font-size: 1.5rem;
}
.searchDiv > input:focus {
  outline: none;
  border: none;
}
.searchDiv > img {
  height: 2rem;
}
.label {
  height: 27px;
  width: 60px;
  border-radius: 50px;
  position: absolute;
  right: 35%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-moon {
  color: #f1c40f;
  font-size: 1.5rem;
}
.fa-sun {
  color: #f39c12;
  font-size: 1.5rem;
}
.toggle {
  background: white;
  height: 24px;
  width: 24px;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
.checkbox {
  display: none;
}
.checkbox:checked + .label .toggle {
  transform: translateX(32px);
}
.rightTopBar > img {
  height: 50%;
  cursor: pointer;
}
.rightTopBar {
  width: 20%;
  height: 100%;
  display: flex;
  margin-right: 4%;
  align-items: center;
  justify-content: space-evenly;
}
.profileImageTopBarContainer {
  /* background : black; */
  border: 1px solid black;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  /* padding: 0.3%; */
  cursor: pointer;
}
.profileImageTopBarContainer > img {
  height: 100%;
  border-radius: 50%;
  width: 100%;
}
.superContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.mainContainer {
  width: 70%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 3.5%;
  margin-top: 15%;
  opacity: 1;
}
.mainContainer.visible {
  opacity: 1;
}
.left {
  height: auto;
  width: 50%;
  /* opacity: 0; */
}
.MakeAPost {
  width: 100%;
  background: white;
  overflow: auto;
  height: 15rem;
  /* height: 20%; */
  border: 1px solid rgba(180, 180, 180, 1);
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 2%;
  transition: background 0.2s linear;
}
.HamburgerMenuLinks {
  display: none;
}
.rightTopBarHamburger {
  display: none;
  pointer-events: none;
}
.DisplayPost {
  width: 100%;
  margin-top: 2%;
  overflow: auto;
  height: 75rem;
  background: white;
  border: 1px solid rgba(180, 180, 180, 1);
  border-radius: 14px;
  transition: background 0.2s linear;
}

.textContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20%;
  height: 90%;
  font-family: "Montserrat", sans-serif;
  width: 40%;
  text-align: center;
}
.makePostProfileImage {
  align-self: flex-start;
  margin-top: 2%;
  margin-left: 4%;
  height: 6rem;
  width: 6rem;
  transition: all 0.2s linear;
}
.textContainer > p {
  font-size: 2.2rem;
}

.displayPostProfileImage {
  width: 7rem;
}
.startPostButton {
  padding: 3%;
  cursor: pointer;
  background: rgba(4, 142, 188, 0.5);
  border: 1px solid white;
  width: 70%;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 22.5px;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  transition: background 0.2s linear;
}
.startPostButton:hover {
  background: transparent;
  border: 1px solid rgba(4, 142, 188, 0.8);
  color: black;
}
.navDisplayPost {
  /* background : grey; */
  padding: 1.5%;
  display: flex;
  align-items: center;
}
.DisplayPost::-webkit-scrollbar {
  display: none;
}

.ProfileDescription {
  display: flex;
  padding: 1%;
  width: 90%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2%;
  margin-left: 2%;
  font-family: "Open Sans", sans-serif;
}
.ProfileDescription > h1 {
  font-size: 2rem;
}

.ProfileDescription > p {
  font-size: 1.3rem;
}
.PostImageContainer {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PostImageContainer > img {
  width: 100%;
  height: 100%;
  width: 100%;
}
.captionContainer {
  height: fit-content;
  width: 100%;
  text-overflow: ellipsis;
  align-items: center;
  display: flex;
  /* background-color: blue; */
  margin-top: 5%;
  padding: 1%;
}
.caption {
  margin-left: 5%;
  height: fit-content;
  width: 70%;
  /* background : yellow; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
}
.readMore {
  margin-left: 2%;
  font-family: "Merriweather", serif;
  cursor: pointer;
  color: grey;
}
.lineSeperation {
  width: 90%;
  margin-top: 2%;
  transform: translate(5%);
  height: 1px;
  background: rgba(128, 128, 128, 0.4);
  display: flex;
}
.likeSection {
  height: 8%;
  display: flex;
  font-family: "Merriweather", serif;
  justify-content: space-around;
  align-items: center;
}
.like {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.fa-lightbulb {
  font-size: 2.2rem;
}
.fa-lightbulb:hover {
  cursor: pointer;
}
.like > p {
  font-size: 1.5rem;
  color: black;
}
.fill {
  color: #f39c12;
}
.LikeNumber {
  font-size: 1.5rem;
}
.fa-comment {
  font-size: 2.2rem;
}
.commentSection {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.right {
  background: white;
  border: 1px solid rgba(180, 180, 180, 1);
  height: 60rem;
  width: 30%;
  border-radius: 14px;
  margin-left: 35.5%;
  padding: 1%;
  position: fixed;
  transition: background 0.2s linear;
}
.right > h1 {
  font-family: "Open Sans", sans-serif;
  margin-left: 5%;
  margin-top: 2%;
}
.popUpMakeAPostContainer {
  position: absolute;
  background: white;
  border: 1px solid rgba(180, 180, 180, 1);
  border-radius: 14px;
  padding: 2%;
  width: 30%;
  opacity: 0;
  pointer-events: none;
  height: 40rem;
  top: 10%;
  left: 50%;
  transform: translateY(-50%);
  margin-top: 5%;
  transform: translateX(-50%);
  transition: opacity 0.5s linear;
}
.popUpMakeAPostContainer.visible {
  opacity: 1;
  pointer-events: all;
}
.PopUpNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lineSeperationPopUp {
  width: 100%;
  transform: translateX(0);
}
.fa-times {
  font-size: 2.2rem;
  cursor: pointer;
  color: grey;
}
.healine {
  display: flex;
  align-items: center;
  margin-top: 4%;
}
.healine > h1 {
  font-family: "Open Sans", sans-serif;
  margin-left: 3%;
  font-size: 1.5rem;
}
.CaptionPopUp {
  height: 40%;
  width: 100%;
  margin-top: 4%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.CaptionPopUp:focus {
  outline: none;
}
.publish {
  padding: 2.5%;
  width: 30%;
  background: rgba(4, 142, 188, 0.5);
  border: 1px solid white;
  border-radius: 22.5px;
  cursor: pointer;
  transition: all 0.2s linear;
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
}
.arrow {
  background: white;
  border-top: 1px solid rgba(180, 180, 180, 1);
  border-left: 1px solid rgba(180, 180, 180, 1);
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  top: -6px;
  transform: rotate(45deg);
  right: 15px;
  transition: all 0.2s linear;
}
.publish:hover {
  background: transparent;
  border: 1px solid rgba(4, 142, 188, 0.8);
  color: black;
}
.imageAndButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerPopUp {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 5%;
  height: 70%;
}
.fa-images {
  font-size: 2.2rem;
  cursor: pointer;
}
#image_submit {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.afterPopUp {
  pointer-events: none;
  filter: opacity(0.3);
  transition: all 0.5s linear;
}

.dropDownContainer {
  position: fixed;
  border: 1px solid rgba(180, 180, 180, 1);
  border-radius: 14px;
  height: 150px;
  width: 220px;
  padding: 1%;
  /* right: 19.3%;
  top: 8.5%; */
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  background: white;
  /* box-shadow: 0px 0px 10px 1px grey; */
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.2s linear;
}
.dropDownContainer.visible {
  pointer-events: all;
  opacity: 1;
}
.sub {
  display: flex;
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  align-items: center;
  cursor: pointer;
  padding: 4%;
  border-radius: 14px;
  padding-left: 5%;
}
a {
  text-decoration: none;
  color: black;
}
.text {
  margin-left: 6%;
}
.sub:hover {
  background: rgba(4, 142, 188, 0.3);
}
.roomContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
}
.room {
  border-radius: 10px;
  width: 90%;
  height: 20%;

  border: 1px solid rgba(255, 166, 0, 0.4);
  display: flex;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: all 0.2s linear;
}
/* .room:hover{
  border: 1px solid rgba(255,255,255);
  background : rgba(255, 165, 0,0.4);
} */
.leftRoom {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-rocket {
  font-size: 5rem;
  color: rgba(255, 166, 0, 0.8);
  transition: all 0.2s linear;
}

.rightRoom {
  font-family: "Open Sans", sans-serif;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.rightRoom > h1 {
  font-size: 1.6rem;
  font-weight: 700;
}
.rightRoom > p {
  text-align: center;
  font-size: 1rem;
}
.enterRoom {
  padding: 3%;
  margin-top: 4%;
  width: 13rem;
  transition: all 0.2s linear;
  background: none;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255);
  background: rgba(255, 165, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s linear;
  font-size: 1.3rem;
  color: white;
}
.enterRoom:hover {
  background: white;
  color: black;
  border: 1px solid rgba(255, 166, 0, 0.4);
}
.fa-comments {
  font-size: 5rem;
  color: #00adb5;
}
.room2 {
  border: 1px solid rgba(0, 173, 181, 0.4);
  transition: all 0.2s linear;
}
.enterRoom2 {
  border: 1px solid rgba(255, 255, 255);
  background: rgba(0, 173, 181, 0.4);
  color: white;
}
.enterRoom2:hover {
  border: 1px solid rgba(0, 173, 181, 0.4);
  color: black;
}
.room3 {
  border: 1px solid rgba(243, 139, 160, 0.4);
  transition: all 0.2s linear;
}
.fa-briefcase {
  font-size: 5rem;
  color: #f38ba0;
  transition: all 0.2s linear;
}
.enterRoom3 {
  border: 1px solid rgba(255, 255, 255);
  background: rgba(243, 139, 160, 0.4);
  color: white;
}
.enterRoom3:hover {
  color: black;
  border: 1px solid rgba(243, 139, 160, 0.4);
}
.feedback {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #3c5186;
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s linear;
}
.feedbackPopUpContainer {
  position: fixed;
  background: white;
  border: 1px solid rgba(180, 180, 180, 1);
  border-radius: 14px;
  padding: 1%;
  width: 30%;
  opacity: 0;
  z-index: 11;
  pointer-events: none;
  height: 40rem;
  top: 30%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  transition: opacity 0.5s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}
.feedbackPopUpContainer.visible {
  opacity: 1;
  pointer-events: all;
}
.feedbackEnter {
  width: 90%;
  height: 70%;
  padding: 3%;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.feedbackEnter:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 5px 1px grey;
}
.buttonContainerFeedback {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.buttonFeedback {
  padding: 2%;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
.cancel {
  background: rgba(223, 94, 94, 0.7);
  color: white;
}
.cancel:hover {
  border: 1px solid rgba(223, 94, 94, 1);
  background: transparent;
  color: black;
}
.ok {
  background: rgba(79, 151, 79, 0.7);
  color: white;
}
.ok:hover {
  border: 1px solid rgba(79, 151, 79, 0.7);
  background: transparent;
  color: black;
}
.dropDownSearchBox {
  position: fixed;
  width: 200px;
  z-index: 20;
  background: rgba(4, 142, 188, 1);
  padding: 1%;
  font-size: 1.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  color: white;
  transition: all 0.2s linear;
}
body.dark .dropDownSearchBox{
  background: #00adb5;
  color: white;
}
.dropDownSearchBox.visible {
  opacity: 1;
}
.after {
  margin: 10%;
}
.drowDownLink{
  color:white;
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
/* Making Responsive */
@media screen and (max-width: 1472px) {
  nav {
    height: 8rem;
  }
  .dropDownContainer {
    right: 18.8%;
    top: 9.5%;
  }
  .textContainer {
    width: 50%;
    margin-left: 14%;
  }
  .searchDiv {
    height: 60%;
  }
  .rightTopBar > img {
    height: 70%;
  }
}
@media screen and (max-width: 1370px) {
  html {
    font-size: 55%;
  }
  .DisplayPost {
    height: 65rem;
  }
  .dropDownContainer {
    top: 8%;
  }
  .leftTopBar > img {
    height: 10rem;
  }
  .fa-moon {
    font-size: 1.7rem;
  }
  .fa-sun {
    font-size: 1.7rem;
  }
  .rightTopBar > img {
    height: 60%;
  }
  .feedbackPopUpContainer {
    width: 40%;
  }
  .searchDiv{
    width: 170px;
  }
  .dropDownSearchBox{
    width: 170px;
  }
}
@media screen and (max-width:1108px){
  .searchDiv{
    width: 150px;
  }
  .dropDownSearchBox{
    width: 150px;
  } 
}
@media screen and (max-width: 1150px) {
  html {
    font-size: 50%;
  }
  .dropDownContainer {
    right: 18%;
  }
  .label {
    height: 23px;
    width: 55px;
  }
  .toggle {
    height: 20px;
    width: 20px;
  }
  .popUpMakeAPostContainer {
    top: 20%;
    width: 35%;
    height: 45rem;
  }
}

@media screen and (max-width: 975px) {
  .DisplayPost {
    height: 60rem;
  }
  .dropDownContainer {
    right: 15%;
  }
  /* .navDisplayPost {
    background: red;
  } */
  .displayPostProfileImage {
    height: 5rem;
    width: 5.9rem;
  }
  .textContainer > p {
    font-size: 2rem;
  }
  .leftTopBar {
    width: 40%;
  }
  .mainContainer {
    width: 75%;
  }
  .right {
    margin-left: 39.5%;
    height: 60rem;
  }
  .buttonFeedback {
    width: 100px;
  }
}
@media screen and (max-width: 940px) {
  .PostImageContainer {
    height: 65%;
  }
  .DisplayPost {
    height: 55rem;
    padding-top: 2%;
  }
  .right {
    width: 35%;
    margin-left: 38%;
  }
  .mainContainer {
    margin-top: 18%;
  }
  .popUpMakeAPostContainer {
    width: 40%;
    height: 45rem;
  }
}
@media screen and (max-width: 800px) {
  .leftTopBar {
    width: 50%;
    margin-left: -4%;
  }
  .rightTopBar {
    width: 35%;
    margin-right: -3%;
  }
  .mainContainer {
    justify-content: flex-start;
    width: 90%;
    padding-left: 0;
  }
  .rightTopBar > img {
    height: 55%;
  }
  .dropDownContainer {
    right: 10%;
  }
  .right {
    margin-left: 49%;
    width: 37%;
  }
  .left {
    width: 52%;
  }
  .popUpMakeAPostContainer {
    width: 48%;
    height: 45rem;
  }
  .feedbackPopUpContainer {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .mainContainer {
    margin-top: 25%;
  }
  .fa-rocket,
  .fa-comments,
  .fa-briefcase {
    font-size: 3.5rem;
  }
  .right {
    height: 50rem;
  }
  .room {
    height: 25%;
  }
  .right > h1 {
    font-size: 1.6rem;
  }
  .rightRoom > h1 {
    font-size: 1.4rem;
  }
  .popUpMakeAPostContainer {
    width: 55%;
    height: 45rem;
  }
}
@media screen and (max-width: 640px) {
  .rightTopBar {
    display: none;
  }
  .dropDownContainer {
    display: none;
    pointer-events: none;
  }
  nav {
    height: 7rem;
  }
  .label {
    right: 20%;
  }
  .rightTopBarHamburger {
    display: block;
    width: 5%;
    height: 40%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
    cursor: pointer;
    margin-right: 5%;
  }
  .HamLine {
    background: black;
    width: 20px;
    height: 3px;
  }

  .leftTopBar {
    justify-self: flex-start;
    width: 80%;
    margin-left: -2%;
  }
  nav {
    justify-content: space-between;
  }
  .mainContainer {
    margin-left: 3%;
  }
  .right,
  .DisplayPost {
    height: 50rem;
  }
  .leftTopBar > img {
    height: 11rem;
  }
  .right > h1 {
    margin-top: 5%;
  }
  .right {
    width: 39%;
  }
  .likeSection {
    margin-top: 2.5%;
  }
  .HamburgerMenuLinks {
    background: rgba(4, 142, 188, 1);
    display: block;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    height: 110rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    justify-content: space-evenly;
    align-items: center;
    clip-path: circle(100px at 95% -14%);
    -webkit-clip-path: circle(100px at 95% -14%);
    transition: all 1s ease-out;
  }
  .HamburgerMenuLinks.open {
    clip-path: circle(100px at 95% -14%);
    -webkit-clip-path: circle(1100px at 95% -14%);
  }
  .HamburgerMenuLinks > a {
    width: 70%;
    text-align: center;
  }

  .Links {
    color: white;
    cursor: pointer;
  }
  .links:hover {
    background-color: #005a8d;
    padding: 4%;
    border-radius: 14px;
  }

  .leftTopBar {
    width: 60%;
    justify-content: flex-end;
  }
  .leftTopBar > img {
    margin-right: 22%;
  }
  .Links {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .Link2,
  .Link3,
  .Link4 {
    opacity: 0;
  }
  .fade {
    opacity: 1;
  }
  .likeSection {
    margin-top: 2%;
  }
  .feedbackPopUpContainer {
    width: 60%;
  }
  .feedbackEnter {
    font-size: 2rem;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 45%;
  }
  nav {
    height: 8rem;
  }
  .fa-moon,
  .fa-sun {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
  .label {
    height: 20px;
    width: 45px;
  }
  .toggle {
    height: 17px;
    width: 17px;
  }
  .checkbox:checked + .label .toggle {
    transform: translateX(24px);
  }
  .HamburgerMenuLinks {
    height: 100vh;
  }
  .textContainer {
    width: 60%;
    margin-left: 6%;
  }
  .mainContainer {
    width: 95vw;
    margin-left: 0;
  }
  .left {
    width: 53%;
  }
  .right {
    width: 45%;
    margin-left: 50%;
  }
  .chooseFile {
    width: 50%;
    font-size: 1.5rem;
  }
  .popUpMakeAPostContainer {
    width: 65%;
    padding: 4%;
  }
  .publish {
    width: 40%;
  }
  .feedbackPopUpContainer {
    width: 65%;
    height: 50rem;
  }
  .buttonFeedback {
    height: 25px;
    width: 80px;
  }
  .feedbackEnter {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .HamburgerMenuLinks {
    height: 100vh;
  }
  .right {
    position: relative;
    margin-left: 3.3%;
    margin-right: 0;
    width: 90%;
    height: 40rem;
    overflow: scroll;
  }
  .dropDownSearchBox{
    width: 122px;
  }
  .mainContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2%;
    margin-top: 11rem;
  }
  .leftTopBar {
    margin-left: 2%;
  }
  .superContainer {
    flex-wrap: wrap;
    height: fit-content;
  }
  .left {
    margin-top: 3%;
    width: 100%;
  }
  .MakeAPost {
    margin-right: 0;
    width: 90%;
    margin-left: 7%;
  }
  .DisplayPost {
    width: 90%;
    margin-left: 7%;
    height: 80rem;
  }
  .startPostButton,
  .textContainer {
    font-size: 2rem;
  }
  .captionContainer {
    height: 10%;
  }
  .right > h1 {
    margin-top: 2%;
    align-self: center;
  }
  .right {
    display: flex;
    flex-direction: column;
  }
  .lineSeperation {
    height: 0.7px;
    width: 60%;
    align-self: center;
    display: none;
  }
  .fa-comments,
  .fa-rocket,
  .fa-briefcase {
    font-size: 4.5rem;
  }
  .feedback {
    width: 100px;
    height: 25px;
  }
  .popUpMakeAPostContainer {
    top: 30%;
    width: 80%;
  }
  .feedbackPopUpContainer {
    width: 75%;
  }
}
@media screen and (max-width: 380px) {
  .leftTopBar > img {
    height: 140%;
  }
  .right {
    width: 100%;
  }
  .label {
    right: 18%;
  }
  .MakeAPost,
  .DisplayPost {
    width: 100%;
    margin-left: 2%;
  }
  .captionContainer {
    height: 6%;
  }
  .DisplayPost {
    height: 70rem;
  }
  .feedback {
    width: 70px;
    height: 25px;
  }
  .feedbackPopUpContainer {
    width: 85%;
  }
}
.elementsDropDown {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swal-wide{
  width:1000px !important;
}
.drowDownLink{
  color: white;

}